<div
  cdkDropList
  #columnList="cdkDropList"
  cdkDropListOrientation="horizontal"
  [cdkDropListData]="board?.columns"
  [cdkDropListConnectedTo]="[columnList]"
  (cdkDropListDropped)="dropColumn($event)"
  class="relative max-w-[1275px] my-0 mx-auto py-6 px-10"
>
  <mat-spinner *ngIf="!board" color="text-teal" class="my-0 mx-auto"></mat-spinner>
  <div class="flex relative justify-center mb-5" *ngIf="board">
    <button
      mat-button
      matTooltip="{{ 'board.column.tooltip.create' | translate | uppercase }}"
      matTooltipClass="tooltip"
      class="column__button absolute top-0 left-0"
      (click)="openDialog('create')"
    >
      <mat-icon class="text-5xl w-[50px] h-[50px] text-teal">view_column</mat-icon>
    </button>
    <h2 class="text-left uppercase text-charcoal">{{ board.title }}</h2>
  </div>
  <div cdkDropListGroup class="flex gap-x-6 overflow-x-auto">
    <div
      *ngFor="let column of board?.columns"
      cdkDrag
      class="w-[270px] flex flex-col justify-start"
    >
      <app-column
        [column]="column"
        [boardId]="id"
        (deleteColumn)="openDialog('delete', $event)"
        (editColumn)="openDialog('edit', $event)"
      >
        <mat-icon cdkDragHandle class="text-teal cursor-move text-left">open_with</mat-icon>
      </app-column>
    </div>
  </div>
</div>
