<form *ngIf="auth.isAuthorized()" (ngSubmit)="onSearchSubmit()">
  <mat-form-field class="search-input">
    <input type="text" [formControl]="searchField" matInput [matAutocomplete]="auto" />
    <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
      <mat-option
        (click)="toBoard(task)"
        *ngFor="let task of $filteredOptions | async"
        [value]="task.title"
      >
        <span class="mat-body">{{ task.userName }}</span> |
        <span class="mat-body">{{ task.title }}</span> |
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
  <button
    type="submit"
    mat-button
    matTooltip="{{ 'header.search' | translate | uppercase }}"
    matTooltipClass="tooltip"
  >
    <mat-icon class="text-teal">search</mat-icon>
  </button>
</form>
