<form *ngIf="auth.isAuthorized()">
  <mat-form-field class="search-input">
    <input type="text" [formControl]="search" matInput [matAutocomplete]="auto" />
    <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
      <mat-option
        (click)="toBoard(task)"
        *ngFor="let task of filteredOptions | async"
        [value]="task.title"
      >
        <span class="mat-body">{{ task.userName }}</span> |
        <span class="mat-body">{{ task.title }}</span> |
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</form>
