<form
  class="form-signUp max-w-xs m-auto text-center p-5 shadow-md mt-10"
  [formGroup]="signUpForm"
  (ngSubmit)="register()"
>
  <h2 class="text-teal">Sign-up</h2>
  <mat-card-content>
    <mat-form-field appearance="standard" class="w-full mb-1">
      <mat-label class="px-3">Name</mat-label>
      <input autofocus type="text" matInput formControlName="name" />
      <mat-error *ngIf="name?.hasError('required')"> Name is required </mat-error>
      <mat-error *ngIf="name?.errors?.['minlength'] && !name?.hasError('required')">
        Min length must be 4
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="standard" class="w-full mb-1">
      <mat-label class="px-3">Login</mat-label>
      <input autofocus type="text" matInput formControlName="login" />
      <mat-error *ngIf="login?.hasError('required')"> Login is required </mat-error>
      <mat-error *ngIf="login?.errors?.['minlength'] && !login?.hasError('required')">
        Min length must be 4
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="fill" class="w-full">
      <mat-label>Enter your password</mat-label>
      <input matInput [type]="hidePassword ? 'password' : 'text'" formControlName="password" />
      <button
        mat-icon-button
        matSuffix
        (click)="hidePassword = !hidePassword"
        [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hidePassword"
      >
        <mat-icon>{{ hidePassword ? 'visibility_off' : 'visibility' }}</mat-icon>
      </button>
      <mat-error *ngIf="(password?.errors?.['passwordStrength'])">
        <ul>
          <ng-template ngFor let-e [ngForOf]="password?.errors?.['errorMessage'].split('.')">
            <li *ngIf="e.length > 0">
              {{ e }}
            </li>
          </ng-template>
        </ul>
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="fill" class="w-full">
      <mat-label>Confirm your password</mat-label>
      <input
        matInput
        [type]="hideConfirmPassword ? 'password' : 'text'"
        formControlName="confirmPassword"
      />
      <button
        mat-icon-button
        matSuffix
        (click)="hideConfirmPassword = !hideConfirmPassword"
        [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hideConfirmPassword"
      >
        <mat-icon>{{ hideConfirmPassword ? 'visibility_off' : 'visibility' }}</mat-icon>
      </button>
      <mat-error *ngIf="confirmPassword?.hasError('confirmPassword')">
        Password is not matching
      </mat-error>
    </mat-form-field>
  </mat-card-content>
  <div class="flex justify-evenly">
    <button mat-raised-button routerLink="/auth/login" type="button">Sign-in</button>
    <button mat-raised-button color="primary" type="submit" [disabled]="signUpForm.invalid">
      Sign-up
    </button>
  </div>
</form>
