<nav
  class="relative flex flex-wrap items-center justify-between shadow-lg text-body bg-card-main nav"
>
  <div class="container px-4 mx-auto flex flex-wrap items-center justify-between">
    <div
      class="w-full relative flex justify-between md:w-auto px-4 lg:static lg:block lg:justify-start"
    >
      <a
        class="flex text-2xl font-bold leading-relaxed inline-block mr-4 py-2 whitespace-nowrap uppercase text-teal"
        routerLink="/welcome"
      >
        <img src="./assets/icons/logo.svg" alt="Logo" class="mr-4" />
        <p class="m-0 self-center">PMA</p>
      </a>
      <button
        class="cursor-pointer text-xl leading-none px-3 py-1 border border-solid border-transparent rounded bg-transparent block md:hidden outline-none focus:outline-none"
        type="button"
        (click)="onToggleNavigation()"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="w-6 h-6"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M4 6h16M4 12h16M4 18h16"
          />
        </svg>
      </button>
    </div>
    <div class="flex flex-grow items-center bg-card-main">
      <app-navigation class="max-md:hidden w-full"></app-navigation>
    </div>
  </div>
</nav>
