$app-primary: (
  50: #e9f0f1,
  100: #c8d9dc,
  200: #a3c0c4,
  300: #7ea7ac,
  400: #62949b,
  500: #468189,
  600: #3f7981,
  700: #376e76,
  800: #2f646c,
  900: #205159,
  A100: #9bf0ff,
  A200: #68e9ff,
  A400: #35e1ff,
  A700: #1bddff,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);
