<main class="max-w-4xl w-full my-0 mx-auto py-8">
  <h1 class="text-center text-charcoal font-bold uppercase my-8">the project management app</h1>
  <section class="flex mt-36 min-h-[25rem] flex-wrap md:flex-nowrap">
    <div class="max-w-2xl w-full my-0 mx-auto mb-10">
      <p class="text-xl text-body min-h-[90px]">
        {{ 'welcome.about' | translate }}
      </p>
      <div class="form flex flex-row gap-x-2.5">
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Email</mat-label>
          <input
            type="email"
            matInput
            [formControl]="emailFormControl"
            placeholder="Ex. mail@example.com"
          />
        </mat-form-field>
        <button mat-raised-button color="primary" (click)="signUp()">
          {{ 'welcome.signUp' | translate }}
        </button>
      </div>
    </div>
    <div class="features pb-8 my-0 mx-auto max-w-sm w-full self-center">
      <h2 class="text-center uppercase text-charcoal">
        {{ 'welcome.features.title' | translate }}
      </h2>
      <ul class="features__list text-body text-base">
        <li><mat-icon>done_outline</mat-icon>{{ 'welcome.features.boards' | translate }}</li>
        <li><mat-icon>done_outline</mat-icon>{{ 'welcome.features.columns' | translate }}</li>
        <li><mat-icon>done_outline</mat-icon>{{ 'welcome.features.tasks' | translate }}</li>
        <li><mat-icon>done_outline</mat-icon>{{ 'welcome.features.assignees' | translate }}</li>
        <li><mat-icon>done_outline</mat-icon>{{ 'welcome.features.search' | translate }}</li>
        <li><mat-icon>done_outline</mat-icon>{{ 'welcome.features.dnd' | translate }}</li>
      </ul>
    </div>
  </section>
  <section>
    <app-carousel [autoplay]="true" [interval]="4000"></app-carousel>
  </section>
</main>
