<section class="max-w-2xl w-full my-0 mx-auto pt-8 mb-10">
  <h1 class="text-left">
    Welcome to <br />
    <span>Project Management Application</span>
  </h1>
  <p>
    This application helps to track the progress of tasks and distribute the workload among
    employees
  </p>
  <div class="form flex flex-row gap-x-2.5">
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Email</mat-label>
      <input
        type="email"
        matInput
        [formControl]="emailFormControl"
        placeholder="Ex. mail@example.com"
      />
    </mat-form-field>
    <button mat-raised-button color="primary">Sign up</button>
  </div>
</section>
<section class="pb-8">
  <app-carousel [autoplay]="true" [interval]="4000"></app-carousel>
</section>
