<mat-card
  class="w-full h-full cursor-pointer hover:scale-110 motion-reduce:transform-none transition-transform"
  (click)="toBoard()"
>
  <mat-card-title class="mat-h4 w-48 truncate m-0 mb-3">{{ board.title }}</mat-card-title>
  <mat-card-content class="truncate">{{ board.description }}</mat-card-content>
  <mat-card-actions>
    <button
      mat-button
      (click)="editCard($event)"
      matTooltip="{{ 'main.tooltip.edit' | translate | uppercase }}"
      matTooltipClass="tooltip"
    >
      <mat-icon class="text-teal">edit</mat-icon>
    </button>
    <button
      mat-button
      (click)="deleteCard($event)"
      matTooltip="{{ 'main.tooltip.delete' | translate | uppercase }}"
      matTooltipClass="tooltip"
    >
      <mat-icon class="text-teal">delete</mat-icon>
    </button>
  </mat-card-actions>
</mat-card>
