<form
  class="form-editUser max-w-xs max-md:mt-5 m-auto text-center p-5 shadow-md mt-10 bg-card-form dark:bg-card-transparent"
  [formGroup]="editUserForm"
  (ngSubmit)="saveChanges()"
>
  <h2 class="text-teal dark:text-tealLight">{{ 'auth.editUser.edit' | translate }}</h2>
  <mat-card-content>
    <mat-form-field
      [appearance]="themeService.isDarkEnable ? 'outline' : 'standard'"
      class="w-full mb-1"
    >
      <mat-label class="px-3 dark:text-white">{{ 'auth.name' | translate }}</mat-label>
      <input
        autofocus
        type="text"
        class="dark:text-white"
        matInput
        formControlName="name"
        (input)="authService.authErrorStatus = ''"
      />
      <mat-error *ngIf="name?.hasError('required')"> {{ 'auth.nameError' | translate }} </mat-error>
      <mat-error *ngIf="name?.errors?.['minlength'] && !name?.hasError('required')">
        {{ 'auth.minLengthError' | translate }}
      </mat-error>
    </mat-form-field>
    <mat-form-field
      [appearance]="themeService.isDarkEnable ? 'outline' : 'standard'"
      class="w-full mb-1"
    >
      <mat-label class="px-3 dark:text-white">{{ 'auth.login' | translate }}</mat-label>
      <input
        autofocus
        type="text"
        class="dark:text-white"
        matInput
        formControlName="login"
        (input)="authService.authErrorStatus = ''"
      />
      <mat-error *ngIf="login?.hasError('required')">
        {{ 'auth.loginError' | translate }}
      </mat-error>
      <mat-error *ngIf="login?.errors?.['minlength'] && !login?.hasError('required')">
        {{ 'auth.minLengthError' | translate }}
      </mat-error>
    </mat-form-field>
    <mat-form-field [appearance]="themeService.isDarkEnable ? 'outline' : 'fill'" class="w-full">
      <mat-label>{{ 'auth.password' | translate }}</mat-label>
      <input
        matInput
        class="dark:text-white"
        [type]="hidePassword ? 'password' : 'text'"
        formControlName="password"
        (input)="authService.authErrorStatus = ''"
      />
      <button
        mat-icon-button
        type="button"
        matSuffix
        (click)="hidePassword = !hidePassword"
        [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hidePassword"
      >
        <mat-icon class="dark:text-white">{{
          hidePassword ? 'visibility_off' : 'visibility'
        }}</mat-icon>
      </button>
      <mat-error *ngIf="(password?.errors?.['passwordStrength'])">
        <ul>
          <ng-template ngFor let-e [ngForOf]="password?.errors?.['errorMessage'].split('.')">
            <li *ngIf="e.length > 0">
              {{ 'auth.' + e + '$' | translate }}
            </li>
          </ng-template>
        </ul>
      </mat-error>
    </mat-form-field>
  </mat-card-content>
  <mat-error class="mb-2" *ngIf="authService.authErrorStatus">{{
    'error.' + authService.authErrorStatus | translate
  }}</mat-error>
  <div class="flex justify-evenly mb-3">
    <button mat-raised-button routerLink="/" class="saveChanges-btn" type="button">
      {{ 'auth.editUser.cancel' | translate }}
    </button>
    <button
      mat-raised-button
      color="primary"
      type="submit"
      [disabled]="editUserForm.invalid || authService.authErrorStatus !== ''"
    >
      {{ 'auth.editUser.saveChanges' | translate }}
    </button>
  </div>
  <div class="flex justify-center text-error">
    <button mat-raised-button color="warn" type="button" (click)="openDialog('delete')">
      {{ 'auth.editUser.deleteUser' | translate }}
    </button>
  </div>
</form>
