<div
  class="h-[calc(100vh-250px)] lg:h-[calc(100vh-200px)] flex flex-col items-center lg:flex-row justify-center gap-x-7 p-9"
>
  <div class="">
    <h1 class="text-teal text-6xl lg:text-9xl">:(</h1>
  </div>
  <div class="text-center max-w-[600px]">
    <h2 class="text-charcoal text-3xl lg:text-5xl">404 - Page not found</h2>
    <p class="text-body text-sm sm:text-lg">
      The page you are looking for might have been removed had its name changed or is temporarily
      unavailable.
    </p>
    <a
      [routerLink]="['/']"
      mat-raised-button
      color="primary"
      routerLinkActive="router-link-active"
      class="text-lg lg:text-2xl uppercase py-3 px-4"
    >
      home page</a
    >
  </div>
</div>
