<div mat-dialog-content>
  <form [formGroup]="form">
    <mat-form-field appearance="fill">
      <mat-label>{{ 'board.task.dialog.title' | translate }}</mat-label>
      <input matInput formControlName="title" required />
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>{{ 'board.task.dialog.description' | translate }}</mat-label>
      <input matInput formControlName="description" required />
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>{{ 'board.task.dialog.user' | translate }}</mat-label>
      <mat-select formControlName="user" required>
        <mat-option *ngFor="let user of users" [value]="{ userId: user.id, userName: user.name }">
          {{ user.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-button [disabled]="form.invalid" (click)="getData()">OK</button>
  <button mat-button (click)="cancel()" mat-dialog-close>
    {{ 'board.task.dialog.cancel' | translate }}
  </button>
</div>
