@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

:root {
  --epic-color: '#3E368F';
  --grey-color-s: #9a9a9a;
  --grey-color-m: #d3d3d3;
  --grey-color-l: #eeeeee;
  --white-color: #ffffff;
  --charcoal-color: #333333;
  --body-color: #676767;
  --teal-color: #468189;
  --black-color: #000;
  --mercury-color: #e5e5e5;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

// Switcher styles
.mat-slide-toggle-thumb {
  background-color: #468189;
}

.mat-slide-toggle.mat-checked .mat-slide-toggle-thumb {
  background-color: #468189;
}

.mat-slide-toggle.mat-checked .mat-slide-toggle-bar {
  background-color: #46818999;
}

.mat-slide-toggle:not(.mat-checked) .mat-ripple-element {
  background-color: black;
  width: 0;
}

.mat-slide-toggle.mat-checked .mat-ripple-element {
  background-color: #468189;
  width: 0;
}

// Styles for sidenav
.mat-drawer-container {
  background-color: white;
}

.mat-sidenav-container {
  height: 100%;
}
