@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

:root {
  --epic-color: '#3E368F';
  --grey-color-s: #9a9a9a;
  --grey-color-m: #d3d3d3;
  --grey-color-l: #eeeeee;
  --white-color: #ffffff;
  --charcoal-color: #333333;
  --body-color: #676767;
  --teal-color: #468189;
  --black-color: #000;
  --mercury-color: #e5e5e5;
}
